// compileNested, nestedFilenamePattern: ../css/style.css
// sourceMap: true style.css.map

// import scss partials
@import "reset";
@import "variables";
@import "mixin";

/* general */
body {
  font-family: 'Poppins', Tahoma, Arial, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

input {
  height: 60px;
  font-weight: 300;
  outline: none;
  border: none;
  background-color: $light-grey;
  vertical-align: middle;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  @include border-radius(10px);
}

textarea {
  @extend input;
  height: auto;
  resize: none;
  min-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;

  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}

.ion {
  color: $light-blue;
}

.title {
  padding: 60px 0;
  text-align: center;
}
/* end general */

/* nav */
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }

.navbar {
      margin-bottom: 0px;
  }

.navbar-default {
  height: 100px;
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  border-bottom: 2px solid $light-blue;
  color: $dark-blue;
}

.navbar-default .navbar-nav>li>a {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: $dark-blue;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $dark-blue;
  border-bottom: 2px solid $light-blue;
}

.navbar-scroll {
  background-color: $light-grey;
  height: 60px;

  .navbar-nav>li>a {
    height: 47px;
    line-height: 30px;
  }

  .navbar-brand img {
    max-height: 35px;
    padding-left: 15px;
  }
}
/* end nav */

/* header */
#home {
  position: relative;

  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .custom-controls-container {
    .flex-control-nav {
      bottom: 10px;
    }

    .flex-control-paging li a.flex-active {
      background-color: $light-blue;
    }

    .flex-control-paging li a {
      background-color: $light-grey;
      @include box-shadow(none);
    }
  }
}
  // slide dtaxi
  .slide-dtaxi {
    background: $light-grey url(../images/header/dtaxi/dtaxi-bg.jpg) bottom center no-repeat;
    padding-top: 170px !important;
    padding-bottom: 50px !important;

    .app-screen {
      img {
        margin: 0 auto;
      }
    }

    .app-info {
      color: $dark-blue;

      .title {
        font-size: 40px;
        padding-top: 25px;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        text-align: left;

        img {
          margin: 0;
          vertical-align: middle;
        }

        h1 {
          padding-left: 20px;
        }

        h2 {
          padding-left: 20px;
          font-weight: 400;
        }
      }

      .feature {
        padding-top: 50px;
        clear: both;
        font-size: 24px;
        line-height: 32px;

        .fea-list {
          font-weight: 500;
          padding: 20px 0;

          li {
            float: left;
            width: 33%
          }
        }
      }

      .download {
        margin-top: 50px;

        .ios {
          width: 50%;
          display: inline-block;
          float: left;

          img {
            margin-bottom: 20px;
          }
        }

        .android {
          @extend .ios;

          img {
            float: right;
          }
        }
      }
    }
  }
  // end slide dtaxi

  // slide nexex
  .slide-nexex {
    @extend .slide-dtaxi;
    background: $light-grey url(../images/header/nexex/nexex-bg.jpg) bottom center no-repeat;
  }
  // end slide nexex

  // slide gvn
  .slide-gvn {
    @extend .slide-dtaxi;
    background: $light-grey url(../images/header/gvn/gvn-bg.png) bottom center no-repeat;

    h1 {
      font-size: 43px;
    }
  }
  // end slide gvn
/* header */

/* why */
#why {
  h3 {
    color: $light-blue;
  }

  .reason {
    margin: 30px 0 30px 50px;
    font-weight: 300;
  }
}
/* end why */

/* apps mockup */
#apps {
  background-color: $light-grey;
  text-align: center;

  p {
    font-size: 16px;
    line-height: 20px;
  }

  .screens {
    margin-bottom: 30px;
  }

}
/* end apps mockup */

/* apps link */
#link {
  padding:  100px 0;

  p {
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
  }
}
/* end apps link */

/* subscribe */
#subscribe {
  background: $light-grey url(../images/subscribe-bg.png) center center no-repeat;
  padding: 45px 0;
  overflow: hidden;

  h3 {
    color: white;
  }

  .form-sub {
    position: relative;
  }

  input {
    font-size: 16px;
    background-color: white;
  }

  button {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 40px;
  }
}
/* end subscribe */

/* clients */
#clients {
  padding-bottom: 20px;
}
/* clients */

/* about */
#about {
  padding-bottom: 20px;

  .nex-info {
    p {
      padding-bottom: 20px;

      &:last-child {
        font-weight: 600;
      }
    }
  }
}
/* end about */

/* clients */
#clients {
  background-color: $light-grey;
}
/* end clients */

/* contact */
#contact {
  .contact-submit {
    text-align: center;

    button {
      margin-top: 15px;
    }
  }
}
/* end contact */

/* contact data */
#contact-data {
  margin: 50px 0;

  .ion {
    font-size: 70px;
    vertical-align: middle;
  }

  .contact-info {
    display: flex;
    align-items: center;

    div:last-child {
      padding-left: 15px;
    }
  }
}
/* end contact data */

/* footer */
#footer {
  background-color: $light-grey;
  padding-top: 30px;

  .socials {
    width: 235px;
    margin: 20px auto;

    .brand {
      margin-bottom: 15px;
    }
  }

  .haft {
    width: 50%;
    float: left;
  }

  .copyright {
    text-align: center;
    padding: 10px 0;
  }
}
/* end footer */

/* mobile */
@import "mobile";
/* end mobile */
