// Content
// [nav] line 10
// [nav] line 10
// [nav] line 10
// [nav] line 10
// [nav] line 10
// [nav] line 10

// import scss partials
@import "reset";
@import "variables";
@import "mixin";

/* general */
  body {
    font-family: 'Poppins', Tahoma, Arial, sans-serif;
    position: relative;
  }
/* end general */

/* nav */
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }

.navbar {
      margin-bottom: 0px;
  }

.navbar-default {
  height: 100px;
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  border-bottom: 2px solid $light-blue;
  color: $dark-blue;
}

.navbar-default .navbar-nav>li>a {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: $dark-blue;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $dark-blue;
  border-bottom: 2px solid $light-blue;
}

.navbar-scroll {
  background-color: $light-grey;
  height: 60px;

  .navbar-nav>li>a {
    height: 47px;
    line-height: 30px;
  }

  .navbar-brand img {
    max-height: 35px;
    padding-left: 15px;
  }
}
/* end nav */

/* header */
  .big {
    height: 100px;
    background-color: rgb(92, 22, 158);
  }
  .big1 {
    height: 1500px;
    background-color: $light-blue;
  }
  .big2 {
    height: 1500px;
    background-color: rgb(246, 189, 17);
  }
  .big3 {
    height: 1500px;
    background-color: rgb(52, 230, 128)
  }
  .big4 {
    height: 1500px;
    background-color: rgb(187, 44, 45);
  }
/* header */


/* mobile */
@import "mobile";
/* end mobile */
